@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,400;0,500;0,700;1,300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
}

.display-none {
    display: none;
}

.header {
    padding: 0 4%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 50px;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
}

.logo {
    background-image: url("/image/logo.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 40px;
    width: 150px;
}

.boxes {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('./image/green-slate.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
}

.box-left {
    width: 50%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box-right {
    width: 50%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box-right img {
    width: 90%;
    border: none;
    border-radius: 30px;
}