@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,400;0,500;0,700;1,300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
}

.header {
    padding: 0 4%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 50px;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
}

.logo {
    background-image: url("/image/logo.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 40px;
    width: 150px;
}

.boxes {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.box {
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding: 50px 0 30px 0;
}

.car-1 {
    background-image: url("/image/dbs.webp");
}

.car-2 {
    background-image: url("/image/valhalla.jpg");
}

.car-3 {
    background-image: url("/image/vantage.webp");
}

.car-4 {
    background-image: url("/image/vantage-roadster.webp");
}

.box .name-car {
    font-size: 4rem;
    color: #fff;
}

.box .more {
    width: 264px;
    height: 40px;
    border: none;
    background-color: rgba(244, 244, 244, 0.65);
    font-size: 1.5rem;
    color: #393C41;
    cursor: pointer;
    transition: 1s;
}

.box .more:hover {
    background-color: rgb(244, 244, 244);
    color: #000000;
}