@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,400;0,500;0,700;1,300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
}

.display-none {
    display: none;
}

.header {
    padding: 0 4%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    position: fixed;
    color: #fff;
    font-size: 1.15rem;
    background-color: rgba(0,0,0,0.3);
    z-index: 5;
}

.logo {
    background-image: url("/image/logo.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 40px;
    width: 150px;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    cursor: pointer;
    width: 90px;
    height: 30px;
}

.cars {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    width: 40%;
    cursor: pointer;
}

.cars p {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90px;
    height: 30px;
    transition: 1s;
}

.cars p:hover {
    border-radius: 50px;
    border: none;
    background: rgba(204, 204, 204, 0.1);
}

.boxes {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('./image/green-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
}

.box-left {
    width: 50%;
    height: 100vh;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 5%;
    color: #fff;
}

.box-left h1 {
    font-size: 3rem;
    margin-bottom: 1.5rem;
}

.box-left h3 {
    width: 95%;
    font-size: 1.4rem;
    margin-bottom: 1.5rem;
}

.box-left button {
    width: 14rem;
    height: 2.5rem;
    font-size: 1rem;
    border: none;
    border-radius: 2rem;
    background-color: #308474;
    box-shadow: 10px 10px 15px 0px rgba(0,0,0,0.75);
    color: #fff;
    cursor: pointer;
    transition: 1s;
}

.box-left button:hover {
    background-color: #287062;
}

.box-right {
    width: 50%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box-right img {
    width: 90%;
    border: none;
    border-radius: 30px;
}

.box-cars {
    width: 100%;
}

.box-cars .box{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background-image: url('./image/gray-bg.jpg');
    border-bottom: 2px solid black;
    position: relative;
    z-index: 1;
}

.box-cars .box img {
    width: 70%;
}

.box-cars .box h1 {
    position: absolute;
    top: 50px;
    font-size: 3rem;
}

.box-cars .box button {
    position: absolute;
    bottom: 50px;
    width: 14rem;
    height: 2.5rem;
    font-size: 1rem;
    border: none;
    border-radius: 2rem;
    background-color: #308474;
    box-shadow: 10px 10px 15px 0px rgba(0,0,0,0.75);
    color: #fff;
    cursor: pointer;
    transition: 1s;
}

.box-cars .box button:hover {
    background-color: #287062;
}